@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: #e6e3e9;
}
h1{
  font-size:x-large;
  font-weight: 500;
}
h2,p{
  font-size: large;
}
#component{
 box-shadow: 10px;
 background-color: white;
 padding: 30px;
 border-radius: 50px;
 box-shadow: 6px 6px 6px 6px rgba(57, 68, 219, 0.1);
 margin: 30px;
}
#component.special{
  background-color: rgb(220, 206, 243);
}

@media (max-width: 640px) { 
  #component {
    padding: 10px; 
  }
}

/*Biraz hareket gelsin diye*/
.dropdown {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.dropdown.open {
  opacity: 1;
  overflow: auto;
}
/*dropdown açık değilken tuşlayamamak için*/
.dropdown:not(.open) * {
  pointer-events: none;
  cursor: default;
}
